<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase / # Редирект с HTTP на HTTPS RewriteCond %{HTTPS} off RewriteRule ^
  https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] RewriteCond %{REQUEST_FILENAME} -f [OR] RewriteCond
  %{REQUEST_FILENAME} -d RewriteRule ^ - [L] RewriteRule ^ index.html [L]
</IfModule>
